<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mygmall.user.mapper.BaseCatalog1TmMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.mygmall.user.bean.BaseCatalog1Tm">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tm_id" jdbcType="BIGINT" property="tmId" />
    <result column="catalog1_id" jdbcType="BIGINT" property="catalog1Id" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from base_catalog1_tm
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.atguigu.mygmall.user.bean.BaseCatalog1Tm">
    insert into base_catalog1_tm (id, tm_id, catalog1_id
      )
    values (#{id,jdbcType=BIGINT}, #{tmId,jdbcType=BIGINT}, #{catalog1Id,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.mygmall.user.bean.BaseCatalog1Tm">
    update base_catalog1_tm
    set tm_id = #{tmId,jdbcType=BIGINT},
      catalog1_id = #{catalog1Id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, tm_id, catalog1_id
    from base_catalog1_tm
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, tm_id, catalog1_id
    from base_catalog1_tm
  </select>
</mapper>