<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mygmall.user.mapper.CartInfoMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.mygmall.user.bean.CartInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="cart_price" jdbcType="DECIMAL" property="cartPrice" />
    <result column="sku_num" jdbcType="INTEGER" property="skuNum" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cart_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.atguigu.mygmall.user.bean.CartInfo">
    insert into cart_info (id, user_id, sku_id, 
      cart_price, sku_num, img_url, 
      sku_name)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, 
      #{cartPrice,jdbcType=DECIMAL}, #{skuNum,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, 
      #{skuName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.mygmall.user.bean.CartInfo">
    update cart_info
    set user_id = #{userId,jdbcType=BIGINT},
      sku_id = #{skuId,jdbcType=BIGINT},
      cart_price = #{cartPrice,jdbcType=DECIMAL},
      sku_num = #{skuNum,jdbcType=INTEGER},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, user_id, sku_id, cart_price, sku_num, img_url, sku_name
    from cart_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, sku_id, cart_price, sku_num, img_url, sku_name
    from cart_info
  </select>
</mapper>