<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mygmall.user.mapper.OrderLogMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.mygmall.user.bean.OrderLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="operate_date" jdbcType="TIMESTAMP" property="operateDate" />
    <result column="log_comment" jdbcType="VARCHAR" property="logComment" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.atguigu.mygmall.user.bean.OrderLog">
    insert into order_log (id, order_id, operate_date, 
      log_comment)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{operateDate,jdbcType=TIMESTAMP}, 
      #{logComment,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.mygmall.user.bean.OrderLog">
    update order_log
    set order_id = #{orderId,jdbcType=BIGINT},
      operate_date = #{operateDate,jdbcType=TIMESTAMP},
      log_comment = #{logComment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, order_id, operate_date, log_comment
    from order_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_id, operate_date, log_comment
    from order_log
  </select>
</mapper>