<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mygmall.user.mapper.SkuImageMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.mygmall.user.bean.SkuImage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="img_name" jdbcType="VARCHAR" property="imgName" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="spu_img_id" jdbcType="BIGINT" property="spuImgId" />
    <result column="is_default" jdbcType="VARCHAR" property="isDefault" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sku_image
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.atguigu.mygmall.user.bean.SkuImage">
    insert into sku_image (id, sku_id, img_name, 
      img_url, spu_img_id, is_default
      )
    values (#{id,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, #{imgName,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{spuImgId,jdbcType=BIGINT}, #{isDefault,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.mygmall.user.bean.SkuImage">
    update sku_image
    set sku_id = #{skuId,jdbcType=BIGINT},
      img_name = #{imgName,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      spu_img_id = #{spuImgId,jdbcType=BIGINT},
      is_default = #{isDefault,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, sku_id, img_name, img_url, spu_img_id, is_default
    from sku_image
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, sku_id, img_name, img_url, spu_img_id, is_default
    from sku_image
  </select>
</mapper>