<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mygmall.user.mapper.SpuSizeMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.mygmall.user.bean.SpuSize">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="spu_id" jdbcType="BIGINT" property="spuId" />
    <result column="spu_size" jdbcType="VARCHAR" property="spuSize" />
    <result column="is_enabled" jdbcType="VARCHAR" property="isEnabled" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from spu_size
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.atguigu.mygmall.user.bean.SpuSize">
    insert into spu_size (id, spu_id, spu_size, 
      is_enabled)
    values (#{id,jdbcType=BIGINT}, #{spuId,jdbcType=BIGINT}, #{spuSize,jdbcType=VARCHAR}, 
      #{isEnabled,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.mygmall.user.bean.SpuSize">
    update spu_size
    set spu_id = #{spuId,jdbcType=BIGINT},
      spu_size = #{spuSize,jdbcType=VARCHAR},
      is_enabled = #{isEnabled,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, spu_id, spu_size, is_enabled
    from spu_size
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, spu_id, spu_size, is_enabled
    from spu_size
  </select>
</mapper>